@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&display=swap');

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@font-face {
    font-family: 'GeistUFL';
    src: url('../_fonts/Geist-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GeistMono';
    src: url('../_fonts/GeistMono-Regular.woff2');
    font-weight: normal;
    font-style: normal;
}