.content {
    padding: 10%;
    background-color: #f9f9f9;
    min-height: 100vh;
    max-width: 1280px;
    margin: 0 auto;
}

.align-lft {
    text-align: left;
}

.align-rht {
    text-align: right;
}

.align-cnt {
    text-align: center;
}

.align-jstf {
    text-align: justify;
}

.align-start {
    text-align: start;
}

.align-end {
    text-align: end;
}