@use './mixins.scss' as *;
@use './fonts.scss' as *;


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    font-family: 'GeistUFL', sans-serif;
    // font-family: 'Geist UFL';
    // background-color: #faf9fb;
}

// main {
//     width: 1280px;
//     min-height: 100vh;
//     margin: 0 auto;
// }

code {
    font-family: 'GeistMono', monospace;
}

.nice-shadow {
    box-shadow: 0 0.8rem 0.8rem -0.8rem rgba(15, 14, 21, 0.1);
    // background-color: #ffffff;

    /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.221);
    transition: all 0.125s ease;

    &:hover {
        scale: 1.0125;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    }
}

.nice-shadow-2 {
    box-shadow: 0 0.8rem 0.8rem -0.8rem rgba(15, 14, 21, 0.1);
    // background-color: #ffffff;

    /* From https://css.glass */
    // background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    // backdrop-filter: blur(5px);
    // -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(0, 0, 0, 0.221);

}

// .nice-inner-shadow {
//     box-shadow: inset 0px 0px 14px 2px rgb(199 199 199 / 28%);
//     padding: 1rem;
//     border-radius: 0.5rem;
//     transition: all 0.3s ease;

//     &:hover {
//         box-shadow: none;
//         scale: 1.0125;
//     }

// }


.align-lft {
    text-align: left;
}

.align-rht {
    text-align: right;
}

.align-cnt {
    text-align: center;
}

.align-jstf {
    text-align: justify;
}

.align-start {
    text-align: start;
}

.align-end {
    text-align: end;
}

.shiki {
    overflow: auto;
    scrollbar-color: red;
}