@use '../../_css/mixins.scss' as *;
@use '../../_css/colours.scss' as *;

.postblock {
    display: flex;
    width: 100%;
    flex-direction: column;

    @include tablet {

        flex-direction: row;
        flex-wrap: wrap;

    }

    .pb-post {
        width: 100%;
        min-width: 100%;
        padding: 0.5rem;
        border-style: solid;

        img {
            width: 100%;
            height: auto;
        }

        li {
            list-style: none;
            margin: 0;

            a {
                text-decoration: none;
                color: $color-l;
            }
        }

        ul {
            color: $color-a;
            padding: 0.5rem;
        }

        @include tablet {

            box-sizing: border-box;
            width: calc(50% - 1rem);
            min-width: 40%;

        }

        @include desktop {

            width: calc(25% - 2rem);
            min-width: calc(25% - 2rem);
            margin: 0.8rem;
            padding: 0.8rem;

        }
    }
}