.align-lft {
    text-align: left;
}

.align-rht {
    text-align: right;
}

.align-cnt {
    text-align: center;
}

.align-jstf {
    text-align: justify;
}

.align-start {
    text-align: start;
}

.align-end {
    text-align: end;
}