@use '../../_css/globals.scss' as *;

img {
    width: 20%;
    height: auto;
}

.great-hero {
    width: 1024px;
}

.highlight {
    background-color: rgb(127, 167, 169);
}

.ab1 {
    background-color: rgb(77, 79, 65);
}

.ab2 {
    background-color: rgb(129, 73, 134);
}

.ab3 {
    background-color: rgb(131, 57, 73);
    color: #ffffff;
}

.ab4 {
    background-color: rgb(136, 163, 93);
}

.mediablock-image {
    width: 800px;
}